:root {
    --green-color: #6CC71B;
    --purple-color: #6D0196;
    --orange-color: #FAB73B;
    --dark-green-color: #19AF42;
    --red-color: #E51A1A;
    --dark-red-color: #D01212;
    --light-orange-color: #FFC107;
    --grey-color: #AAAAAA;
    --active-orange-color: #FFC439;
}